body {
    background:url(src/img/portalbackground.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 120px;
}

.Alive input[type="radio"]{
    margin-left: 5%;
    appearance: none;
    border: 10px solid #0db10d;
    border-radius: 100%;
    animation: alive_anima 4s infinite;
}

@keyframes alive_anima{
    0%  {border: 5px solid #128812; box-shadow:0px 0px 5px #1ec033;}
    50% {border: 5px solid #03ff03; box-shadow:0px 0px 20px #1ec033;}
    100%{border: 5px solid #128812; box-shadow:0px 0px 5px #1ec033;}
}

.Dead input[type="radio"]{
    margin-left: 5%;
    appearance: none;
    border: 5px solid #b10d0d;
    border-radius: 100%;
    outline: 1px solid rgb(146, 146, 146);
    animation: dead_anima 4s infinite;
}

@keyframes dead_anima{
    0%  {border: 5px solid #881212; box-shadow:0px 0px 5px #c01e1e;}
    50% {border: 5px solid #ff0303; box-shadow:0px 0px 20px #c01e1e;}
    100%{border: 5px solid #881212; box-shadow:0px 0px 5px #c01e1e;}
}

.unknown input[type="radio"]{
    margin-left: 5%;
    appearance: none;
    border: 5px solid #ffee03;
    border-radius: 100%;
    outline: 1px solid rgb(146, 146, 146);
    animation: unknown_anima 4s infinite;
}

@keyframes unknown_anima{
    0%  {border: 5px solid #886c12; box-shadow:0px 0px 5px #887c12;}
    50% {border: 5px solid #ffee03; box-shadow:0px 0px 20px #ffee03;}
    100%{border: 5px solid #887c12; box-shadow:0px 0px 5px #887c12;}
}

@font-face {
    font-family: "rick_font";
    src: url(src/get_schwifty.ttf);
}

#click_here {
    text-align: center;
    font-family: "rick_font";
    color: #0db1a3;
    font-size: 80px;
    text-shadow: 2px 2px 2px #0ee04d;
    margin-bottom: -1%;

}

.quadradao{
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
   color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: space-evenly;
    margin: 5px;
    border-radius: 15px;
    overflow: hidden;
    /* From https://css.glass */
    background: rgba(48, 48, 48, 0.849);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(11, 11, 11, 0.08);
        
}

#portal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
}

img {
    width: auto;
    min-height: 10.3em;
    max-height: 180px;
}

.card{
    width: 250px;
    height: auto;
    padding-bottom: 3%;
    
}

.name {
    text-align: center;
}

.details {
    margin-top: 4%;
    margin-left: 5%;
}

#more {
    display: none;
    margin: auto;
}